* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* flex-direction: column; */
	/* min-height: 100vh; */
	font-family: 'Montserrat', sans-serif;
	/* background-color: blue; */
	background-image: url('https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg');
	background-size: cover;
}

.form {
	padding: 40px;
	width: 400px;
	/* height: 50vh; */
	text-align: center;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.35);
	box-shadow: 0 0 10px black;
}

.form__title {
	padding-bottom: 30px;
}

.form__box {
	margin-bottom: 10px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.label {
	margin-bottom: 5px;
}

.input {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
}

.error {
	margin: 5px 0 0 10px;
	font-size: 12px;
	color: blue;
	visibility: hidden;
}

.error__input {
	border: 1px solid red;
}

.form__buttons {
	display: flex;
	justify-content: flex-end;
}

.clear__btn,
.send__btn,
.popup__btn {
	display: block;
	padding: 10px 0;
	margin-left: 10px;
	width: 100px;
	font-size: 17px;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button--highlighted {
	background-color: rgb(0, 140, 255);
}

.clear__btn:hover,
.send__btn:hover,
.popup__btn:hover {
	background-color: rgb(0, 107, 194);
}

.popup {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 600px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.55);
	border: 2px solid black;
	border-radius: 5px;
	transition: top 0.5s;
}

.popup__text {
	font-size: 25px;
}

.popup__btn {
	margin-top: 20px;
}

.form__shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}


.shadow-animation {
	animation: show-shadow .3s
}

@keyframes show-shadow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}